## Importing pandas

### Bắt đầu và kiểm tra thiết lập pandas của bạn

Mức độ: *easy* 

**1.** Import pandas dưới bí danh `pd`.

In [3]:
import pandas as pd

**2.** In phiên bản pandas đã được nhập.

In [7]:
print(pd.__version__)

2.2.2

**3.** In ra tất cả thông tin *phiên bản* của các thư viện mà thư viện pandas yêu cầu.

In [9]:
print(pd.show_versions())

INSTALLED VERSIONS
------------------
commit                : d9cdd2ee5a58015ef6f4d15c7226110c9aab8140
python                : 3.12.4.final.0
python-bits           : 64
OS                    : Windows
OS-release            : 11
Version               : 10.0.22631
machine               : AMD64
processor             : AMD64 Family 25 Model 68 Stepping 1, AuthenticAMD
byteorder             : little
LC_ALL                : None
LANG                  : None
LOCALE                : English_United States.1252

pandas                : 2.2.2
numpy                 : 1.26.4
pytz                  : 2024.1
dateutil              : 2.9.0.post0
setuptools            : 69.5.1
pip                   : 24.0
Cython                : None
pytest                : 7.4.4
hypothesis            : None
sphinx                : 7.3.7
blosc                 : None
feather               : None
xlsxwriter            : None
lxml.etree            : 5.2.1
html5lib              : None
pymysql               : None
psycopg2              : None
jinja2                : 3.1.4
IPython               : 8.25.0
pandas_datareader     : None
adbc-driver-postgresql: None
adbc-driver-sqlite    : None
bs4                   : 4.12.3
bottleneck            : 1.3.7
dataframe-api-compat  : None
fastparquet           : None
fsspec                : 2024.3.1
gcsfs                 : None
matplotlib            : 3.8.4
numba                 : 0.59.1
numexpr               : 2.8.7
odfpy                 : None
openpyxl              : 3.1.2
pandas_gbq            : None
pyarrow               : 14.0.2
pyreadstat            : None
python-calamine       : None
pyxlsb                : None
s3fs                  : 2024.3.1
scipy                 : 1.13.1
sqlalchemy            : 2.0.30
tables                : 3.9.2
tabulate              : 0.9.0
xarray                : 2023.6.0
xlrd                  : None
zstandard             : 0.22.0
tzdata                : 2023.3
qtpy                  : 2.4.1
pyqt5                 : None
None

## DataFrame

### Một số thói quen cơ bản để lựa chọn, sắp xếp, thêm và tổng hợp dữ liệu trong DataFrames

Mức độ khó: *easy*

Chú ý: nhớ import numpy sử dụng:
```python
import numpy as np
```

Hãy xem xét Dictionary Python `data` và list Python `labels` sau:

``` python
data = {'animal': ['snake', 'cat', 'snake', 'dog', 'snake', 'cat', 'snake', 'cat', 'dog', 'cat'],
        'age': [3, 3.5, 0.5, np.nan, 6, 2.5, 4.5, np.nan, 4, 2],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(Đây chỉ là một số dữ liệu vô nghĩa mà tác giả tạo ra với chủ đề về động vật và những chuyến đi khám bác sĩ thú y.)

**4.** Tạo một DataFrame `df` từ từ điển `data` có chỉ mục `labels`.

In [7]:
import numpy as np

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#df = (hoàn thành code của dòng này)

**5.** Hiển thị tóm tắt thông tin cơ bản về DataFrame này và dữ liệu của nó (*gợi ý: chỉ có một phương thức có thể được gọi trên DataFrame*).

In [15]:
df=pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 452.0+ bytes

**6.** Trả về 3 hàng đầu tiên của DataFrame `df`.

In [17]:
print(df.head(3))

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
2  snake  0.5       2       no

**7.** Chỉ chọn các cột 'động vật' và 'tuổi' từ DataFrame `df`.

In [23]:
kq = df[['animal', 'age']]
print(kq)

  animal  age
0    cat  2.5
1    cat  3.0
2  snake  0.5
3    dog  NaN
4    dog  5.0
5    cat  2.0
6  snake  4.5
7    cat  NaN
8    dog  7.0
9    dog  3.0

**8.** Chọn dữ liệu ở hàng `[3, 4, 8]` *và* ở cột `['animal', 'age']`.

In [29]:
kq = df.loc[[3,4,8], ['animal', 'age']]
print(kq)

  animal  age
3    dog  NaN
4    dog  5.0
8    dog  7.0

**9.** Chỉ chọn những hàng có số lượt visits lớn hơn 3.

In [31]:
kq = df[df['visits'] > 3]
print(kq)

Empty DataFrame
Columns: [animal, age, visits, priority]
Index: []

**10.** Chọn những hang có age bị thiếu dữ liệu, i.e. `NaN`.

In [33]:
kq = df[df['age'].isna()]
print(kq)

  animal  age  visits priority
3    dog  NaN       3      yes
7    cat  NaN       1      yes

**11.** Chọn những hàng có animal là cat *và*  age nhỏ hơn 3.

In [35]:
kq = df[(df['animal'] == 'cat') & (df['age'] < 3)]
print(kq)

  animal  age  visits priority
0    cat  2.5       1      yes
5    cat  2.0       3       no

**12.** Chọn những hàng có age nằm giữa 2 và 4 (bao gồm).

In [37]:
kq = df[(df['age'] >= 2) & (df['age'] <= 4)]
print(kq)

  animal  age  visits priority
0    cat  2.5       1      yes
1    cat  3.0       3      yes
5    cat  2.0       3       no
9    dog  3.0       1       no

**13.** Thay đổi age ở hàng 'f' thành 1.5.

In [9]:

df.loc['f', 'age'] = 1.5
print(df)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no
g  snake  4.5       1       no
h    cat  NaN       1      yes
i    dog  7.0       2       no
j    dog  3.0       1       no

**14.** Tính tổng tất cả số lần visits trong `df`.

In [41]:
tong = df['visits'].sum()
print(tong)

19.0

**15.** Tính độ tuổi trung bình của mỗi loài động vật khác nhau trong `df`.

In [43]:
tuoi_TB = df.groupby('animal')['age'].mean()
print(tuoi_TB)

animal
cat      2.5
dog      5.0
snake    2.5
Name: age, dtype: float64

**16.** Thêm một hàng mới 'k' vào `df` với giá trị bạn chọn cho mỗi cột. Sau đó xóa hàng đó để trả về DataFrame gốc.

In [45]:
df.loc['k'] = ['cat', 3.5, 2, 'yes']
print(df)

  animal  age  visits priority
0    cat  2.5     1.0      yes
1    cat  3.0     3.0      yes
2  snake  0.5     2.0       no
3    dog  NaN     3.0      yes
4    dog  5.0     2.0       no
5    cat  2.0     3.0       no
6  snake  4.5     1.0       no
7    cat  NaN     1.0      yes
8    dog  7.0     2.0       no
9    dog  3.0     1.0       no
f    NaN  1.5     NaN      NaN
k    cat  3.5     2.0      yes

**17.** Đếm số lượng của từng loại động vật trong `df`.

In [47]:
dem = df['animal'].value_counts()
print(dem)

animal
cat      5
dog      4
snake    2
Name: count, dtype: int64

**18.** Sắp xếp `df` trước tiên theo các giá trị trong 'age' theo thứ tự *giảm dần (decending)*, sau đó theo giá trị trong cột 'visits' theo thứ tự *tăng dần* (do đó, hàng `i` phải là đầu tiên và hàng `d` phải là cuối cùng).

In [49]:
df_sapxep = df.sort_values(by=['age', 'visits'], ascending=[False, True])
print(df_sapxep)

  animal  age  visits priority
8    dog  7.0     2.0       no
4    dog  5.0     2.0       no
6  snake  4.5     1.0       no
k    cat  3.5     2.0      yes
9    dog  3.0     1.0       no
1    cat  3.0     3.0      yes
0    cat  2.5     1.0      yes
5    cat  2.0     3.0       no
f    NaN  1.5     NaN      NaN
2  snake  0.5     2.0       no
7    cat  NaN     1.0      yes
3    dog  NaN     3.0      yes

**19.** Cột 'priority' chứa các giá trị 'yes' và 'no'. Thay thế cột này bằng một cột giá trị boolean: 'yes' phải là `True` và 'no' phải là `False`.

In [51]:
df['priority'] = df['priority'].replace({'yes': True, 'no': False})
print(df)

  animal  age  visits priority
0    cat  2.5     1.0     True
1    cat  3.0     3.0     True
2  snake  0.5     2.0    False
3    dog  NaN     3.0     True
4    dog  5.0     2.0    False
5    cat  2.0     3.0    False
6  snake  4.5     1.0    False
7    cat  NaN     1.0     True
8    dog  7.0     2.0    False
9    dog  3.0     1.0    False
f    NaN  1.5     NaN      NaN
k    cat  3.5     2.0     True

**20.** Trong cột 'animal', hãy đổi mục 'snake' thành 'python'.

In [53]:
df['animal'] = df['animal'].replace('snake', 'python')
print(df)

   animal  age  visits priority
0     cat  2.5     1.0     True
1     cat  3.0     3.0     True
2  python  0.5     2.0    False
3     dog  NaN     3.0     True
4     dog  5.0     2.0    False
5     cat  2.0     3.0    False
6  python  4.5     1.0    False
7     cat  NaN     1.0     True
8     dog  7.0     2.0    False
9     dog  3.0     1.0    False
f     NaN  1.5     NaN      NaN
k     cat  3.5     2.0     True

**21.** Đối với mỗi loại động vật và mỗi số lần thăm khám, hãy tìm độ tuổi trung bình. Nói cách khác, mỗi hàng là một con vật, mỗi cột là một số lần thăm khám và các giá trị là độ tuổi trung bình (*gợi ý: sử dụng pivot table*).

In [55]:
pivot_age = df.pivot_table(values='age', index='animal', columns='visits', aggfunc='mean')
print(pivot_age)

visits  1.0  2.0  3.0
animal
cat     2.5  3.5  2.5
dog     3.0  6.0  NaN
python  4.5  0.5  NaN

## DataFrames: vượt ra ngoài những điều cơ bản

### Khó hơn một chút: bạn có thể cần kết hợp hai hoặc nhiều phương pháp để có được câu trả lời đúng

Độ khó: *medium*

Phần trước đã giới thiệu một số thao tác DataFrame cơ bản nhưng thiết yếu. Dưới đây là một số cách bạn có thể cần cắt dữ liệu của mình, nhưng không có phương pháp "sẵn có" nào.

**22.** Bạn có một DataFrame `df` với một cột 'A' gồm các số nguyên. Ví dụ:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

Làm thế nào để lọc ra các hàng chứa cùng số nguyên với hàng ngay phía trên?

Bạn sẽ thấy một cột chứa các giá trị sau:

```python
1, 2, 3, 4, 5, 6, 7
```

In [57]:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
df_loc = df[df['A'] != df['A'].shift()]
print(df_loc)

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

**23.** Cho một DataFrame các giá trị số, chẳng hạn
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

Làm thế nào để trừ giá trị trung bình của hàng khỏi mỗi phần tử trong hàng?

In [59]:
import numpy as np

df = pd.DataFrame(np.random.random(size=(5, 3)))  
df_trungbinh = df.sub(df.mean(axis=1), axis=0)
print("DataFrame ban đầu:")
print(df)
print("DataFrame kết quả:")
print(df_trungbinh)

DataFrame ban đầu:
          0         1         2
0  0.821671  0.716306  0.664329
1  0.410047  0.495189  0.508173
2  0.924939  0.712149  0.543843
3  0.474872  0.002116  0.255118
4  0.282440  0.967983  0.390643
DataFrame kết quả:
          0         1         2
0  0.087569 -0.017796 -0.069773
1 -0.061089  0.024053  0.037036
2  0.197962 -0.014828 -0.183134
3  0.230837 -0.241920  0.011083
4 -0.264582  0.420961 -0.156379

**24.** Giả sử bạn có DataFrame với 10 cột số thực, ví dụ:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Cột số nào có tổng nhỏ nhất? Trả về nhãn của cột đó.

In [67]:
# tao DataFrame
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))

# tinh tong tung cot, tim nhan cot co tong nho nhat
min_column = df.sum().idxmin()
print("Cot co tong nho nhat la:" ,min_column)

Cot co tong nho nhat la: e

**25.** Làm thế nào để đếm số lượng hàng duy nhất mà một DataFrame có (tức là bỏ qua tất cả các hàng trùng lặp)? Khi nhập, hãy sử dụng DataFrame gồm số không và số một với 10 hàng và 3 cột.

```python
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
```

In [63]:
# tao DataFrame
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))

# Dem so luong hang duy nhat
unique_rows_count = df.drop_duplicates().shape[0]

print("so luong hang duy nhat la: ",unique_rows_count)

so luong hang duy nhat la:  7